@import '../node_modules/rc-slider/assets/index.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.action-container{
  display: flex;
  margin: 15px;
  justify-content: space-around;
}
.slider-container{
  margin: 20px 100px 50px 100px;
}

.rc-slider-track{
  background-color: #EB7954;
}
.rc-slider-dot-active,
.rc-slider-handle{
  border-color: #EB7954;
}