@import '../node_modules/rc-slider/assets/index.css';
.action-container{
  display: flex;
  margin: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.slider-container{
  margin: 20px 100px 50px 100px;
}

.rc-slider-track{
  background-color: #EB7954;
}
.rc-slider-dot-active,
.rc-slider-handle{
  border-color: #EB7954;
}